@using Recipebook.Models
@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
@*<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>*@

<div class="card">
    <div class="card-body">
        <nav class="nav flex-column nav-pills nav-gap-y-1">
            <a asp-page="./Index" id="profile" class="@ManageNavPages.IndexNavClass(ViewContext) nav-link ">
                <i class="far fa-user fa-fw fa-lg mr-2"></i>Informacje o profilu
            </a>
            <a asp-page="./Email" id="email" class="@ManageNavPages.EmailNavClass(ViewContext) nav-item nav-link ">
                <i class="far fa-envelope fa-fw fa-lg mr-2"></i>Email
            </a>
            <a asp-page="./ChangePassword" id="change-password" class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-link">
                <i class="fas fa-lock fa-fw fa-lg mr-2"></i>Bezpieczeństwo
            </a>
        </nav>
    </div>
</div>