@model RecipeVM
@using System.Linq;
@using Recipebook.ViewModel

@{
    ViewData["Title"] = @Model.Name;
}

<div class="receipe-post-area section-padding-80">


    <!-- Receipe Slider -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @if (@Model.Images.Count != 0)
                        {
                            var first = true;

                            @foreach (var img in @Model.Images)
                            {
                                <div class="carousel-item @(first ? Html.Raw("active") : Html.Raw(""))">
                                    <img class="d-block w-100 rec" src="@img.WebPath" alt="" data-toggle="modal" data-target="#exampleModalCenter" data-image="@img.File">
                                </div>
                                first = false;
                            }
                        }
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span>
                                <i class="fas fa-2x fa-chevron-left"></i>
                            </span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span>
                                <i class="fas fa-2x fa-chevron-right"></i>
                            </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            @if (@Model.User == null)
                            {
                                <small class="text-muted">Dodano: @Model.Created.ToString("dd MMMM yyyy"), przez użytkownika: Użytkownik nie istnieje</small><br/>
                            }
                            else
                            {
                                <small class="text-muted">Dodano: @Model.Created.ToString("dd MMMM yyyy"), przez użytkownika: @Model.User.UserName</small><br/>
                            }
                            <h2 class="mt-2 mb-4">
                                @Model.Name
                                @if (User.Identity is {IsAuthenticated: true })
                                {
                                    <i class="@(Model.Favorite ? "fa-solid fa-heart fa-sm" : "fa-regular fa-heart fa-sm")" id="favorite"></i>
                                    <div class="spinner-border spinner-border-sm spin" id="favorite-loading" role="status" hidden></div>
                                }
                            </h2>
                        </div>
                    </div>

                    <!--Rating -->
                    <div class="col-12 col-md-4">
                        <div class="text-right my-5">
                            <span class="text-muted">Ocena: <span id="recipe-rate">@Model.Rate/5</span></span>
                            @if (User.Identity is {IsAuthenticated: true })
                            {
                                <form method="post" id="recipe-form" data-ajax="true" data-ajax-url="/recipe/rate" data-ajax-method="post"
                                      data-ajax-begin="rateOnBegin"
                                      data-ajax-success="rateOnSuccess">
                                    <input type="text" name="recipeId" value="@Model.Id" hidden/>
                                    <input name="rate" id="rate-id" type="text" class="rating" hidden>
                                </form>
                            }
                        </div>
                    </div>
                </div>

                <div class="single-post__top__text">
                    <p>@Model.Description</p>
                </div>
                <div class="single-post__recipe__details">
                    <div class="single-post__recipe__details__option">
                        <ul>
                            <li>
                                <h5><i class="fa-solid fa-user"></i> Porcje</h5>
                                <span>@Model.Yields porcji</span>
                            </li>
                            <li>
                                <h5><i class="fa-solid fa-clock"></i> Czas przyg.</h5>
                                <span>@Model.PreparationTime minute</span>
                            </li>
                            <li>
                                <h5><i class="fa-solid fa-book"></i> Kategorie</h5>
                                <span>
                                    @foreach (var category in Model.Categories)
                                    {
                                        @Html.Raw(category.Name)
                                        if (category != Model.Categories.Last())
                                        {
                                            @Html.Raw(", ")
                                        }
                                    }
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="single-post__recipe__details__indegradients">
                        <h5>Składniki</h5>
                        <ul>
                            @foreach (var item in Model.Ingredients.Select((value, index) => (value,index)))
                            {
                                <li class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id=@(item.index.ToString())>
                                    <label class="custom-control-label" for=@(item.index.ToString())>@item.value</label>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="single-post__recipe__details__direction">
                        <h5>Sposób przygotowania</h5>
                        <ul>
                            @foreach (var (item,index) in Model.Directions.Split("\r\n\r\n").Select((value, i) => (value, i)))
                            {
                                <li>
                                    <span>@(index + 1).</span> @item
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <!-- Comments -->
                <div class="container pt-5">
                    @if (User.Identity is {IsAuthenticated: true })
                    {
                        <div class="media mt-3 shadow-textarea">
                            <img id="user-image" class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="/no-avatar.png"
                                 alt="Generic placeholder image" width="100px" height="100px">
                            <div class="media-body">
                                <h5 class="mt-0 font-weight-bold blue-text">@User.Identity.Name</h5>
                                <div class="form-group basic-textarea rounded-corners">
                                    <form method="post" asp-controller="Comment" asp-action="Add" data-ajax="true" data-ajax-method="post" data-ajax-begin="commentOnBegin" data-ajax-success="commentOnSuccess">
                                        <input type="text" name="recipeId" value="@Model.Id" hidden/>
                                        <textarea name="content" class="form-control z-depth-1" id="comment-content" rows="3" placeholder="Napisz swój komentarz..."></textarea>
                                        <button id="comment-button" type="submit" class="btn btn-black ali">Dodaj komentarz</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="comments-row" class="container" hidden>
                    <div class="row d-flex justify-content-center mt-3">
                        <div class="col-md-12 col-lg-12">
                            <div class="card" id="comment-card">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pop-up image -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="d-block w-100" id="modal-img" src="" alt="">
            </div>
        </div>
    </div>
</div>

<!-- FAB button -->
@if (User.Identity is {IsAuthenticated: true })
{
    <div class="btn-group-fab" role="group" aria-label="FAB Menu">
        <div>
            <button type="button" class="btn btn-main btn-primary has-tooltip" data-toggle="tooltip" data-placement="left" title="Menu">
                <i class="fa-solid fa-bars"></i>
            </button>
            <a asp-controller="Recipe" asp-action="Delete" asp-route-recipeId="@Model.Id" type="button" class="btn btn-sub btn-danger has-tooltip" data-toggle="tooltip" data-placement="left" title="Usuń przepis">
                <i class="fa-solid fa-xmark"></i>
            </a>
            <a asp-controller="Recipe" asp-action="Edit" asp-route-recipeId="@Model.Id" type="button" class="btn btn-sub btn-info has-tooltip" data-toggle="tooltip" data-placement="left" title="Edytuj przepis">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
        </div>
    </div>
}


@section Scripts
{
    <script>
        
        $('#favorite').click(function (e){
            $.ajax({
                url: '/user/addFavorite',
                type: 'post',
                data: {
                    RecipeId: @Model.Id
                },
                success: function (response){
                    $('#favorite').attr('hidden', false);
                    $('#favorite-loading').attr('hidden', true);
                    if (response == true){
                        $('#favorite').attr('class', "fa-solid fa-heart fa-sm");
                    }
                    else{
                        $('#favorite').attr('class', "fa-regular fa-heart fa-sm");
                    }
                },
                beforeSend: function (){
                    $('#favorite').attr('hidden', true);
                    $('#favorite-loading').attr('hidden', false);
                }
            });
        });
        
        $('div img').click(function (e){
            $('#modal-img').attr('src', '/images/' + $(this).attr('data-image'))
        });
           
        $('.btn-group-fab').on('click', '.btn', function() {$('.btn-group-fab').toggleClass('active');});
        $('[data-toggle="tooltip"]').tooltip()        
        $('has-tooltip').tooltip();
        
        $('#rate-id').rating({
            'showCaption': false,
            'size': 'sm',
            'showClear': false,
            'step': 1
        }).on('rating:change', function(){         
            $('#recipe-form').submit()
        })
        
        rateOnBegin = () =>{ $('#recipe-rate').html('<div class="spinner-border spinner-border-sm" role="status"><span class="sr-only">Ładowanie...</span></div>') }    
        rateOnSuccess = (value) => { $('#recipe-rate').text(`${value}/5`) }
        commentOnBegin = () => {
            $('#comment-button').html('<div class="spinner-border spinner-border-sm" role="status"><span class="sr-only">Dodawanie komentarza...</span></div>');
        }
        commentOnSuccess = () =>{
            console.log('success')
            getComments();
            $('#comment-button').html('Dodaj komentarz');
        }
        
        function getComments(){
            $.ajax({
                url: '/comment/get',
                type: 'GET',
                data:{
                  RecipeId: @Model.Id, 
                },
                success: function(response){
                         $('#comment-card').empty()                        
                         if(!jQuery.isEmptyObject(response)){
                             console.log(response);
                             $('#comments-row').attr('hidden',false);
                         }
                        for(let comment in response){
                            var commentDate = new Date(response[comment]['created']).toUTCString()
                            $('#comment-card').append(
                             `<div class="card-body p-4">
                                ${ (comment==0) ?'<h4 class="mb-4 pb-2">Ostatnie komentarze</h4>':''}
                                <div class="d-flex flex-start">
                                    <img
                                        class="rounded-circle shadow-1-strong mr-3"
                                        src="${response[comment]['avatar']}"
                                        alt="avatar"
                                        width="40"
                                        height="40"/>
                                    <div>
                                        <h6 class="font-weight-bold mb-1">${response[comment]['userName']}</h6>
                                        <div class="d-flex align-items-center mb-3">
                                            <small class="mb-0">${commentDate}</small>
                                        </div>
                                        <p class="mb-0">${response[comment]['content']}</p>
                                    </div>
                                </div>
                                </div>
                                <hr class="my-0"/> `)
                        }
                    },
                error: function(){
                       
                    }
            });
        }
        
        function getUserAvatar(){
            $.ajax({
                url: '/user/getAvatar',
                type: 'GET',
                success: function(response){
                         $('#user-image').prop('src',`${response}`)
                    },
                error: function(){
                       
                    }
            });
        }
        
        $( document ).ready(function() {
            getComments();
            getUserAvatar();
        });
        
    </script>
}

@section Styles{
    <style>
    
    .single-post__top__text,
    .single-post__middle__text {
    	margin-bottom: 25px;
    }
    
    .single-post__top__text p,
    .single-post__middle__text p {
    	font-size: 15px;
    }
    .single-post__recipe__details {
    	border: 1px solid #e1e1e1;
    	margin-bottom: 30px;
    }
    
    .single-post__recipe__details__option {
    	background: #f5f5f5;
    	border-bottom: 1px solid #e1e1e1;
    	padding-left: 30px;
    	padding-right: 30px;
    	padding-top: 25px;
    	padding-bottom: 20px;
    }
    
    .single-post__recipe__details__option ul {
    	overflow: hidden;
    }
    
    .single-post__recipe__details__option ul li {
    	list-style: none;
    	float: left;
    	margin-right: 48px;
    }
    
    .single-post__recipe__details__option ul li:last-child {
    	margin-right: 0;
    }
    
    .single-post__recipe__details__option ul li h5 {
    	text-transform: uppercase;
    	margin-bottom: 5px;
    }
    
    .single-post__recipe__details__option ul li h5 i {
    	font-size: 16px;
    	margin-right: 5px;
    }
    
    .single-post__recipe__details__option ul li span {
    	font-size: 14px;
    	color: #888888;
    }
    
    .single-post__recipe__details__option ul li .primary-btn i {
    	margin-right: 5px;
    }
    
    .single-post__recipe__details__indegradients {
    	padding-left: 30px;
    	padding-right: 30px;
    	padding-top: 25px;
    	padding-bottom: 15px;
    	border-bottom: 1px solid #e1e1e1;
    }
    
    .single-post__recipe__details__indegradients h5 {
    	font-size: 20px;
    	color: #111111;
    	text-transform: uppercase;
    	margin-bottom: 10px;
    }
    
    .single-post__recipe__details__indegradients ul li {
    	list-style: none;
    	font-size: 15px;
    	color: #444444;
    	line-height: 30px;
    	position: relative;
    	padding-left: 20px;
    }
    
    .single-post__recipe__details__indegradients ul li:before {
    	position: absolute;
    	left: 0;
    	top: 13px;
    	height: 3px;
    	width: 3px;
    	background: #111111;
    	content: "";
    }
    
    .single-post__recipe__details__direction {
    	padding-left: 30px;
    	padding-right: 30px;
    	padding-top: 25px;
    	padding-bottom: 15px;
    }
    
    .single-post__recipe__details__direction h5 {
    	font-size: 20px;
    	color: #111111;
    	text-transform: uppercase;
    	margin-bottom: 10px;
    }
    
    .single-post__recipe__details__direction ul li {
    	list-style: none;
    	font-size: 15px;
    	color: #444444;
    	line-height: 30px;
    	position: relative;
    	padding-left: 20px;
    }
    
    .single-post__recipe__details__direction ul li span {
    	font-size: 15px;
    	color: #111111;
    	opacity: 0.7;
    	position: absolute;
    	left: 0;
    	top: 0;
    }
    .spin{
        width: 2rem;
        height: 2rem;
        color: #b21f2d;
    }
    #favorite{
        color: #b21f2d;
    }
    .ali {
        float: right;
        margin-bottom: 15px;
        margin-top: 5px;
    }
    .rec {
        height: 400px;
        width: 70%;
        object-fit: contain;
    }

    .l-bor {
        border-left: 3px solid gray;
        padding: 15px;
    }

    .l-bor-2 {
        border-left: 2px solid grey;
    }
    
    .fa-chevron-left {
        color: gray;
    }

    .fa-chevron-right {
        color: gray;
    }
    p
    {
        margin-bottom: 0 !important;
    }
    .spac
    {
        margin-bottom: 7px;
    }
    body { width: 100%; height: 100%; }
    .btn-group-fab {
      position: fixed;
      width: 50px;
      height: auto;
      right: 20px; bottom: 20px;
    }
    .btn-group-fab div {
      position: relative; width: 100%;
      height: auto;
    }
    .btn-group-fab .btn {
      position: absolute;
      bottom: 0;
      border-radius: 50%;
      display: block;
      margin-bottom: 4px;
      width: 40px; height: 40px;
      margin: 4px auto;
    }
    .btn-group-fab .btn-main {
      width: 50px; height: 50px;
      right: 50%; margin-right: -25px;
      z-index: 9;
    }
    .btn-group-fab .btn-sub {
      bottom: 0; z-index: 8;
      right: 50%;
      margin-right: -20px;
      -webkit-transition: all 2s;
      transition: all 0.5s;
    }
    .btn-group-fab.active .btn-sub:nth-child(2) {
      bottom: 60px;
    }
    .btn-group-fab.active .btn-sub:nth-child(3) {
      bottom: 110px;
    }
    .btn-group-fab.active .btn-sub:nth-child(4) {
      bottom: 160px;
    }
    .btn-group-fab .btn-sub:nth-child(5) {
      bottom: 210px;
    }
    
</style>
}