@model IEnumerable<Recipe>

@if (@ViewBag.CategoryName != "")
{
     ViewData["Title"] = @ViewBag.CategoryName;
}
else
{
    ViewData["Title"] = "Strona domowa";
}

<div class="text-center">
    <div class="card mb-4 box-shadow bg-light" style="border-radius: 25px">
        <h1 class="display-4">Witejcie</h1> <br />
        <p>Tukej  bydzie kejś fajnŏ ksiōnżka z receptami.</p>
        <p>Może niy lepszŏ ale jako tako.</p>
    </div>

</div>

<div class="album py-4" style="border-radius: 25px">
    <h6 class="display-4 text-center">@ViewBag.CategoryName</h6>
    <div class="container">
        @if(@ViewBag.CategoryName != "")
        {
            <hr />
        }
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 d-flex">
                    <div class="card pop mb-4 box-shadow flex-fill">
                        @if (@item.Images.Count != 0)
                        {
                            <img class="card-img-top" alt="Card image cap" src="@item.Images.First().Path">
                        }
                        else
                        {
                            <img class="card-img-top" alt="Card image cap" src="https://kombit.net.pl/wp-content/themes/consultix/images/no-image-found-360x250.png">
                        }
                        <div class="card-body">
                            <h5 class="card-title"><a asp-action="Recipe" asp-route-recipeId="@item.Id" class="des stretched-link">@item.Name</a></h5>
                            @if (@item.Description.Length > 100)
                            {
                                <p class="card-text">@item.Description.Substring(0,100)...</p>
                            }
                            else
                            {
                                <p class="card-text">@item.Description</p>
                            }
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Ocena: @item.Rating/5</small>
                                <small class="text-muted">Dodano: @item.Created.ToString("dd.MM.yyyy")</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Styles{
<style>
    .card-img-top {
        height: 225px;
        width: 100%;
        object-fit: cover;
    }

    .des,
    .des:hover {
        text-decoration: none;
        color: black;
    }

    .pop:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
        z-index: 3;
        border-color: grey !important;
    }
</style>
}
