@model List<Recipe>

@if (@ViewBag.ListTitle != "")
{
    ViewData["Title"] = @ViewBag.ListTitle;
}
else
{
    ViewData["Title"] = "Strona domowa";
}

<div class="text-center">
    <div class="card mb-4 box-shadow bg-light" style="border-radius: 25px">
        <h1 class="display-4">Witejcie</h1> <br/>
        <p>Tukej bydzie kejś fajnŏ ksiōnżka z receptami.</p>
        <p>Może niy lepszŏ ale jako tako.</p>
    </div>
</div>

<div class="album py-4" style="border-radius: 25px">
    <div class="container">
        <div class="cent">
            <h6 class="display-4 text-center">@ViewBag.ListTitle</h6>
        </div>
        @if (@ViewBag.ListTitle != "")
        {
            <hr/>
        }
        <div class="row">
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <a asp-controller="Recipe" asp-action="Add" class="btn-group-fab" role="group" aria-label="FAB Menu">
                    <div>
                        <button type="button" class="btn btn-main btn-success has-tooltip" data-toggle="tooltip" data-placement="left" title="Dodaj przepis">
                            <i class="fa-solid fa-plus fa-2xl"></i>
                        </button>
                    </div>
                </a>
            }
            @foreach (var item in Model)
            {
                <div class="col-md-4 d-flex">
                    <div class="card pop mb-4 box-shadow flex-fill">
                        @if (@item.Images != null && @item.Images.Count != 0)
                        {
                            <img class="card-img-top" alt="Card image cap" src=@($"/images/{@item.Images.First().Path}")>
                        }
                        else
                        {
                            <img class="card-img-top" alt="Card image cap" src="/no-image.png">
                        }
                        <div class="card-body">
                            <h5 class="card-title">
                                <a asp-controller="Recipe" asp-action="Recipe" asp-route-recipeId="@item.Id" class="des stretched-link">@item.Name</a>
                            </h5>
                            @if (@item.Description.Length > 100)
                            {
                                <p class="card-text">@(item.Description[..100])...</p>
                            }
                            else
                            {
                                <p class="card-text">@item.Description</p>
                            }
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Ocena: @item.Rating/5</small>
                                <small class="text-muted">Dodano: @item.Created.ToString("dd.MM.yyyy")</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}

@section Styles{
    <style>
    .card-img-top {
        height: 225px;
        width: 100%;
        object-fit: cover;
    }

    .des,
    .des:hover {
        text-decoration: none;
        color: black;
    }

    .pop:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
        z-index: 3;
        border-color: grey !important;
    }

    .cent {
        display: flex;
        position: relative;
        place-content: center;
    }
    
    body { width: 100%; height: 100%; }
    .btn-group-fab {
      position: fixed;
      width: 50px;
      height: auto;
      right: 20px; bottom: 20px;
    }
    .btn-group-fab div {
      position: relative; width: 100%;
      height: auto;
    }
    .btn-group-fab .btn {
      position: absolute;
      bottom: 0;
      border-radius: 50%;
      display: block;
      margin-bottom: 4px;
      width: 40px; height: 40px;
      margin: 4px auto;
    }
    .btn-group-fab .btn-main {
      width: 50px; height: 50px;
      right: 50%; margin-right: -25px;
      z-index: 9;
    }
    .btn-group-fab .btn-sub {
      bottom: 0; z-index: 8;
      right: 50%;
      margin-right: -20px;
      -webkit-transition: all 2s;
      transition: all 0.5s;
    }
    .btn-group-fab.active .btn-sub:nth-child(2) {
      bottom: 60px;
    }
    .btn-group-fab.active .btn-sub:nth-child(3) {
      bottom: 110px;
    }
    .btn-group-fab.active .btn-sub:nth-child(4) {
      bottom: 160px;
    }
    .btn-group-fab .btn-sub:nth-child(5) {
      bottom: 210px;
    }
</style>
}