@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model List<Recipebook.ViewModel.RecipeVM>

@if (@ViewBag.ListTitle != "")
{
    ViewData["Title"] = @ViewBag.ListTitle;
}
else
{
    ViewData["Title"] = "Strona domowa";
}

<!-- Main banner -->
<div class="card bg-dark flex-fill text-center">
    <img class="card-img" src="https://www.fitagain.pl/wp-content/uploads/2019/09/IMG_88612str.jpg" alt="...">
    <div class="card-img-overlay">
        <h1 class="display-3 font-weight-bold pt-4 mt-2 text-white text-border">Recipebook</h1>
        <div class="divider d-flex align-items-center pb-4 mx-5 text-border">
            <h5 class="font-weight-bold mx-3 mb-0 text-white">Dziel się pomysłami z innymi</h5>
        </div>
    </div>
</div>

<!-- Main body -->
<div class="album py-4" style="border-radius: 25px">
    <div class="container">
        <div class="cent">
            <h6 class="display-4 text-center">@ViewBag.ListTitle</h6>
        </div>
        @if (@ViewBag.ListTitle != "")
        {
            <hr/>
        }
        
        <!-- FAB button -->
        <div class="row">
            @if (this.User.IsInRole("Admin") && ViewBag.CategoryId != 0 && ViewBag.User == null && ViewBag.UserFavorite == null)
            {
                <div class="btn-group-fab" role="group" aria-label="FAB Menu">
                    <div>
                        <button type="button" class="btn btn-main btn-primary has-tooltip" data-toggle="tooltip" data-placement="left" title="Menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a asp-controller="Categories" asp-action="Delete" asp-route-categoryId="@ViewBag.CategoryId" type="button" class="btn btn-sub btn-danger has-tooltip" data-toggle="tooltip" data-placement="left" title="Usuń kategorie">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                        <a asp-controller="Categories" asp-action="Edit" asp-route-categoryId="@ViewBag.CategoryId" type="button" class="btn btn-sub btn-info has-tooltip" data-toggle="tooltip" data-placement="left" title="Edytuj kategorie">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </div>
                </div>
            }
            else if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <a asp-controller="Recipe" asp-action="Add" class="btn-group-fab" role="group" aria-label="FAB Menu">
                    <div>
                        <button type="button" class="btn btn-main btn-success has-tooltip" data-toggle="tooltip" data-placement="left" title="Dodaj przepis">
                            <i class="fa-solid fa-plus fa-2xl"></i>
                        </button>
                    </div>
                </a>
            }
        </div>
        
        <!-- Sort button -->
        <div class="row d-flex justify-content-end mb-3 mr-1">
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @if (ViewBag.Sort != null)
                    {
                        switch ((RecipeSort) ViewBag.Sort)
                        {
                            case RecipeSort.Newest:
                                @Html.Raw("Najnowsze")
                                break;
                            case RecipeSort.Oldest:
                                @Html.Raw("Najstarsze")
                                break;
                            case RecipeSort.HighestRate:
                                @Html.Raw("Najwyżej oceniane")
                                break;
                            case RecipeSort.LowestRate:
                                @Html.Raw("Najniżej oceniane")
                                break;
                        }
                    }

                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @if (ViewBag.User == null && ViewBag.UserFavorite == null)
                    {
                        <a class="dropdown-item" asp-action="Index" asp-route-page="@ViewBag.Page" asp-route-categoryId="@ViewBag.CategoryId" asp-route-sort="@RecipeSort.Newest">Najnowsze</a>
                        <a class="dropdown-item" asp-action="Index" asp-route-page="@ViewBag.Page" asp-route-categoryId="@ViewBag.CategoryId" asp-route-sort="@RecipeSort.Oldest">Najstarsze</a>
                        <a class="dropdown-item" asp-action="Index" asp-route-page="@ViewBag.Page" asp-route-categoryId="@ViewBag.CategoryId" asp-route-sort="@RecipeSort.HighestRate">Najwyżej oceniane</a>
                        <a class="dropdown-item" asp-action="Index" asp-route-page="@ViewBag.Page" asp-route-categoryId="@ViewBag.CategoryId" asp-route-sort="@RecipeSort.LowestRate">Najniżej oceniane</a>
                    }
                    else if (ViewBag.UserFavorite != null)
                    {
                        <a class="dropdown-item" asp-action="IndexUserFavorite" asp-route-page="@ViewBag.Page" asp-route-sort="@RecipeSort.Newest">Najnowsze</a>
                        <a class="dropdown-item" asp-action="IndexUserFavorite" asp-route-page="@ViewBag.Page" asp-route-sort="@RecipeSort.Oldest">Najstarsze</a>
                        <a class="dropdown-item" asp-action="IndexUserFavorite" asp-route-page="@ViewBag.Page" asp-route-sort="@RecipeSort.HighestRate">Najwyżej oceniane</a>
                        <a class="dropdown-item" asp-action="IndexUserFavorite" asp-route-page="@ViewBag.Page" asp-route-sort="@RecipeSort.LowestRate">Najniżej oceniane</a>
                    }
                    else
                    {
                        <a class="dropdown-item" asp-action="IndexUser" asp-route-page="@ViewBag.Page" asp-route-sort="@RecipeSort.Newest">Najnowsze</a>
                        <a class="dropdown-item" asp-action="IndexUser" asp-route-page="@ViewBag.Page" asp-route-sort="@RecipeSort.Oldest">Najstarsze</a>
                        <a class="dropdown-item" asp-action="IndexUser" asp-route-page="@ViewBag.Page" asp-route-sort="@RecipeSort.HighestRate">Najwyżej oceniane</a>
                        <a class="dropdown-item" asp-action="IndexUser" asp-route-page="@ViewBag.Page" asp-route-sort="@RecipeSort.LowestRate">Najniżej oceniane</a>
                    }
                </div>
            </div>
        </div>
        
        <!-- Recipe card -->
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 d-flex">
                    <div class="card pop mb-4 box-shadow flex-fill">
                        @if (@item.Images != null && @item.Images.Count != 0)
                        {
                            <img class="card-img-top" alt="Card image cap" src=@item.Images.First().WebPath>
                        }
                        else
                        {
                            <img class="card-img-top" alt="Card image cap" src="/no-image.png">
                        }
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">
                                <a asp-controller="Recipe" asp-action="Recipe" asp-route-recipeId="@item.Id" class="des stretched-link">@item.Name</a>
                            </h5>
                            @if (@item.Description.Length > 100)
                            {
                                <p class="card-text">@(item.Description[..100])...</p>
                            }
                            else
                            {
                                <p class="card-text">@item.Description</p>
                            }
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Ocena: @item.Rate/5</small>
                                <small class="text-muted">Dodano: @item.Created.ToString("dd.MM.yyyy")</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Pagination -->
<nav class="d-flex justify-content-center" aria-label="Page navigation">
    <ul class="pagination">
        @if (ViewBag.User == null && ViewBag.UserFavorite == null)
        {
            int numberOfPages = Convert.ToInt32(Math.Ceiling(Convert.ToDouble(ViewBag.RecipesCount / Convert.ToDouble(Setup.Limit))));
            <li class="@(ViewBag.Page == 1 ? "page-item disabled" : "page-item")">
                <a class="page-link" asp-action="Index" asp-route-categoryId="@ViewBag.CategoryId" asp-route-page="@(@ViewBag.Page - 1)" asp-route-sort="@ViewBag.Sort">Poprzednia</a>
            </li>
            for (var pages = 1; pages <= numberOfPages; pages++)
            {
                <li class="@(pages == ViewBag.Page ? "page-item active" : "page-item")">
                    <a class="page-link" asp-action="Index" asp-route-page="@pages" asp-route-categoryId="@ViewBag.CategoryId" asp-route-sort="@ViewBag.Sort">@pages</a>
                </li>
            }
            <li class="@(ViewBag.Page == numberOfPages ? "page-item disabled" : "page-item")">
                <a class="page-link" asp-action="Index" asp-route-categoryId="@ViewBag.CategoryId" asp-route-page="@(@ViewBag.Page + 1)" asp-route-sort="@ViewBag.Sort">Następna</a>
            </li>
        }
        else if (ViewBag.UserFavorite != null)
        {
            int numberOfPages = Convert.ToInt32(Math.Ceiling(Convert.ToDouble(ViewBag.RecipesCount / Convert.ToDouble(Setup.Limit))));
            <li class="@(ViewBag.Page == 1 ? "page-item disabled" : "page-item")">
                <a class="page-link" asp-action="IndexUserFavorite" asp-route-categoryId="@ViewBag.CategoryId" asp-route-page="@(@ViewBag.Page - 1)" asp-route-sort="@ViewBag.Sort">Poprzednia</a>
            </li>
            for (var pages = 1; pages <= numberOfPages; pages++)
            {
                <li class="@(pages == ViewBag.Page ? "page-item active" : "page-item")">
                    <a class="page-link" asp-action="IndexUserFavorite" asp-route-page="@pages" asp-route-sort="@ViewBag.Sort">@pages</a>
                </li>
            }
            <li class="@(ViewBag.Page == numberOfPages ? "page-item disabled" : "page-item")">
                <a class="page-link" asp-action="IndexUserFavorite" asp-route-categoryId="@ViewBag.CategoryId" asp-route-page="@(@ViewBag.Page + 1)" asp-route-sort="@ViewBag.Sort">Następna</a>
            </li>
        }
        else
        {
            int numberOfPages = Convert.ToInt32(Math.Ceiling(Convert.ToDouble(ViewBag.RecipesCount / Convert.ToDouble(Setup.Limit))));
            <li class="@(ViewBag.Page == 1 ? "page-item disabled" : "page-item")">
                <a class="page-link" asp-action="IndexUser" asp-route-categoryId="@ViewBag.CategoryId" asp-route-page="@(@ViewBag.Page - 1)" asp-route-sort="@ViewBag.Sort">Poprzednia</a>
            </li>
            for (var pages = 1; pages <= numberOfPages; pages++)
            {
                <li class="@(pages == ViewBag.Page ? "page-item active" : "page-item")">
                    <a class="page-link" asp-action="IndexUser" asp-route-page="@pages" asp-route-sort="@ViewBag.Sort">@pages</a>
                </li>
            }
            <li class="@(ViewBag.Page == numberOfPages ? "page-item disabled" : "page-item")">
                <a class="page-link" asp-action="IndexUser" asp-route-categoryId="@ViewBag.CategoryId" asp-route-page="@(@ViewBag.Page + 1)" asp-route-sort="@ViewBag.Sort">Następna</a>
            </li>
        }
    </ul>
</nav>

@section Scripts
{
    <script>
        $('.btn-group-fab').on('click', '.btn', function() {$('.btn-group-fab').toggleClass('active');});
                $('[data-toggle="tooltip"]').tooltip()        
                $('has-tooltip').tooltip();
    </script>
}

@section Styles{
    <style>
    
    .card-img {
        height: 225px;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
    }
    .card-img-top {
        height: 225px;
        width: 100%;
        object-fit: cover;
    }

    .des,
    .des:hover {
        text-decoration: none;
        color: black;
    }

    .pop:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
        z-index: 3;
        border-color: grey !important;
    }

    .cent {
        display: flex;
        position: relative;
        place-content: center;
    }
    
    body { width: 100%; height: 100%; }
    .btn-group-fab {
      position: fixed;
      width: 50px;
      height: auto;
      right: 20px; bottom: 20px;
    }
    .btn-group-fab div {
      position: relative; width: 100%;
      height: auto;
    }
    .btn-group-fab .btn {
      position: absolute;
      bottom: 0;
      border-radius: 50%;
      display: block;
      margin-bottom: 4px;
      width: 40px; height: 40px;
      margin: 4px auto;
    }
    .btn-group-fab .btn-main {
      width: 50px; height: 50px;
      right: 50%; margin-right: -25px;
      z-index: 9;
    }
    .btn-group-fab .btn-sub {
      bottom: 0; z-index: 8;
      right: 50%;
      margin-right: -20px;
      -webkit-transition: all 2s;
      transition: all 0.5s;
    }
    .btn-group-fab.active .btn-sub:nth-child(2) {
      bottom: 60px;
    }
    .btn-group-fab.active .btn-sub:nth-child(3) {
      bottom: 110px;
    }
    .btn-group-fab.active .btn-sub:nth-child(4) {
      bottom: 160px;
    }
    .btn-group-fab .btn-sub:nth-child(5) {
      bottom: 210px;
    }
    .page-item.active .page-link{
        color: white !important;
        background-color: black !important;
        border-color: black !important;
    }
    .page-link{
        color: black;
    }
    .page-link:hover{
        color: black;
    }
    .text-border{
        text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }
    
</style>
}