@model Recipe
@{
    ViewData["Title"] = "Recipe";
}

@if(Model.Images.Count != 0)
{
    <img src="@Model.Images.First().Path" class="rec">
}
<h1>@Model.Name</h1>
<p class="lin">@Model.Description</p>
<h3>Składniki:</h3>
<ul>
    @foreach(var item in Model.Ingredients)
    {
        <li>@item</li>
    }
</ul>
<h3>Sposób przygotowania:</h3>
<p class="lin">@Model.Directions</p>
<p>Ocena: @Model.Rating/5</p>
@if(@Model.ApplicationUser == null)
{
    <p>Dodano przez: Użytkownik nie istnieje</p>
}
else
{
    <p>Dodano przez: @Model.ApplicationUser.UserName</p>
}

@section Styles{
    <style>
        .rec{
            height: 500px; 
            width: 70%; 
            object-fit: cover;
        }
        .lin{
            white-space: pre-line;
        }
    </style>
}



